@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<table class="table">
    <a class="btn btn-primary " tabindex="-1" role="button" aria-disabled="false" asp-area="" asp-controller="About" asp-action="Me">Add</a>
    <thead>
        <tr>
            <th scope="col">EmployeeID</th>
            <th scope="col">EmployeeName</th>
            <th scope="col">EmployeeCode</th>
            <th scope="col">Salary</th>
            <th scope="col">Designation</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>101</td>
            <td>Mark</td>
            <td>2AC</td>
            <td>20000</td>
            <td>HR</td>
            <td><i class="bi bi-pencil-square"></i></td>
            <td><i class="bi bi-x-square"></i></td>
        </tr>
        <tr>
            <td>102</td>
            <td>Otto</td>
            <td>2AZ</td>
            <td>60000</td>
            <td>Admin</td>
            <td><i class="bi bi-pencil-square"></i></td>
            <td><i class="bi bi-x-square"></i></td>
        </tr>
        <tr>
            <td>103</td>
            <td>Mark</td>
            <td>2AF</td>
            <td>8000</td>
            <td>HOD</td>
            <td><i class="bi bi-pencil-square"></i></td>
            <td><i class="bi bi-x-square"></i></td>
        </tr>
    </tbody>
</table>
